/* Colors */
$color: #eaeaea;
$bg-color: #000000;

/* Dimensions */
$banner-height: 2rem;
$min_width: 15rem;
$max_width: 40rem;

/* A few simple constants evaluated in advance. */
$magic-prop: 0.786;
$magic-magn: 1.272;
$golden-prop: 0.618;
$golden-magn: 1.618;

/* A few CSS-specific functions
 *
 * Credit: https://github.com/sass/sass/issues/2849#issuecomment-621991522
 */
@function css-function($function, $values...) {
    @return $function + unquote('(') + $values + unquote(')');
}

@function css-min($values...) {
    @return css-function(min, $values);
}

@function css-max($values...) {
    @return css-function(max, $values);
}

@function css-clamp($values...) {
    @return css-function(clamp, $values);
}
