---
layout: post
---

<style>
  p {
      text-indent: 25px;
  }
</style>

<script>
  MathJax = {
      tex: {
          inlineMath: [["$", "$"], ["\\(", "\\)"]],
          // packages: {"[+]": ["newcommand"]},
          macros: {
              ve: ["\\mathbf{#1}", 1],
              norm: ["\\left\\lVert#1\\right\\rVert", 1],
          },
          tags: "ams",
      }
  };
</script>

<script id="MathJax-script" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js">
</script>

{{ content }}
